.container {
  max-width: #{$containerMaxWidth + px};
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-right: $containerPaddingS;
  padding-left: $containerPaddingS;
  @media (min-width: $tabletP1) {
    padding-right: $containerPadding;
    padding-left: $containerPadding;
  }
}
