@mixin adaptiveProperty($propertyName, $deskSize, $mobSize) {
  $addSize: $deskSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;
  @media (max-width: numToPx($adaptivePropertyMinViewport)) {
    #{$propertyName}: numToPx($mobSize);
  }
  @media (min-width: numToPx($adaptivePropertyMinViewport + 1)) and (max-width: numToPx($containerMaxWidth)) {
    #{$propertyName}: calc(
      #{numToPx($mobSize)} + #{$addSize} *
        (
          (100vw - #{numToPx($adaptivePropertyMinViewport)}) /
            (#{$adaptivePropertyMaxViewport} - #{$adaptivePropertyMinViewport})
        )
    );
  }
  @media (min-width: numToPx($adaptivePropertyMaxViewport + 1)) {
    #{$propertyName}: numToPx($deskSize);
  }
}

@mixin aspect-ratio-img($aspectRatio: 52.6%, $imgPosition: 50% 50%) {
  --aspect-ratio: #{$aspectRatio};
  --img-position: #{$imgPosition};
  position: relative;
  height: 0;
  padding-bottom: var(--aspect-ratio);
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: var(--img-position);
  }
}
