html {
  font-family: $primaryFont;
  color: $black;
}

.h1,
h1 {
  @include adaptiveProperty('font-size', 72, 56);
  @include adaptiveProperty('line-height', 90, 62);
  font-weight: 700;
}
.h2,
h2 {
  @include adaptiveProperty('font-size', 56, 32);
  @include adaptiveProperty('line-height', 62, 38);
  font-weight: 700;
}
.h3,
h3 {
  @include adaptiveProperty('font-size', 48, 28);
  @include adaptiveProperty('line-height', 52, 32);
  font-weight: 700;
}
.h4,
h4 {
  @include adaptiveProperty('font-size', 36, 20);
  @include adaptiveProperty('line-height', 42, 28);
  font-weight: 700;
}

.p,
p {
  font-size: 20px;
  line-height: 1.8;
}
.p2 {
  font-size: 16px;
  line-height: 1.6;
}
