header(class="header" id="header")
  div(class="header__fader  js-toggle-menu")
  div(class="header__container container")
    a(href="./" class="header__logo")
      img(src=require("/src/assets/images/shiba.svg"), alt="logo dog") 
      | Doggies
    button(type="button" class="header__burger js-toggle-menu")
      img(src=require("/src/assets/images/menu.svg"), alt="menu") 

    div(class="header__nav")
      include ./nav/nav

