header.header
  .header__container.container
    a(href="./" class="header__logo") 
      img(src=require("/src/assets/images/shiba.svg"), alt="")
    nav 
      ul
        each link in [{href: './index.html', value: 'Home'}, {href: './about-us.html', value: 'Test2'}] 
          li
            a(href=link.href)= link.value