include ../mixins/nav/nav

header(class="header" id="header")
  div(class="header__fader  js-toggle-menu")
  div(class="header__container container")
    a(href="./" class="header__logo")
      img(src=require("/src/assets/images/dog.svg"), alt="logo dog") 
      | Pets
    button(type="button" class="header__burger js-toggle-menu")
      img(src=require("/src/assets/images/menu.svg"), alt="menu") 

    div(class="header__nav")
      - var navLinks = [
      -   {href: './index.html', value: 'Home'},
      -   {href: './about-us.html', value: 'About Us'},
      -   {href: './grid.html', value: 'Grid'},
      -   {href: './flex.html', value: 'Flexbox'}
      - ] 
      +nav({navLinks: navLinks})

