.about-us
  .about-us__container.container 
    h2.about-us__title About Us
    .about-us__body 
      .about-us__content 
        h3 Landing for showing some of pet breads 
        p I am Ivan and I am glad to see someone using my app. Enjoy 😋.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, asperiores expedita! Voluptate?
      .about-us__map 
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d101626.90160030019!2d-115.8740471610528!3d37.25148746780955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80b81baaba3e8c81%3A0x970427e38e6237ae!2sArea%2051%2C%20NV%2C%20USA!5e0!3m2!1sen!2sua!4v1628778440176!5m2!1sen!2sua' width='600' height='450' style='border:0;' allowfullscreen='' loading='lazy')
