footer.footer 
  .container.footer__container 
    a(href="./index.html").footer__logo
      img(src=require("/src/assets/images/dog-head.svg"), alt="img")
      | Pets 
    p.footer__copyright &copy; All rights are saved 2021