include ../../mixins/post/post

- var posts = require('/src/static-data/flex.json')

section.flex-section
  .container.flex-section__container
    each item in posts
      +post({
        parentClass: 'flex-section__item',
        imgUrl: item.imgUrl,
        title: item.title,
        description: item.description,
        link: {url: item.link.url, title: item.link.title},
        creationDate: item.creationDate,
      })
